
/***** Dropdown *****/

.drdn {
	position: relative;
}

.drdn-trigger {
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.drdn-content {
	display: none;
	position: absolute;
	right: 0px;
	top: 35px;
	min-width: 100px;
	background-color: #fff;
	border-radius: 4px !important;
	color: #555;
    z-index: 99;
    -webkit-box-shadow: 2px 3px 7px -3px rgba(0,0,0,0.73);
    -moz-box-shadow: 2px 3px 7px -3px rgba(0,0,0,0.73);
    box-shadow: 2px 3px 7px -3px rgba(0,0,0,0.73);
}

.drdn.expanded .drdn-content {
	display: block;
}

.drdn-content {
	.quick-search {
		margin: 8px;
	}

	.autocomplete {
		box-sizing: border-box;
		width: 100% !important;
		height: 28px;

		&:focus {
			border-color: #5ad;
		}
	}
}

.drdn-items {
	max-height: 400px;
	overflow: auto;
}

div + .drdn-items {
	border-top: 0px solid #ccc;
}

.drdn-items {
	> {
		* {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 6px 10px;
		}

		a:hover {
			text-decoration: none;
		}

		*:focus {
			border: 1px dotted #bbb;
		}
	}

	&.selection {
		> * {
			&:before {
				content: ' ';
				display: inline-block;
				line-height: 1em;
				width: 1em;
				height: 1em;
				margin-right: 4px;
				font-weight: bold;
			}

			&.selected:before {
				content: "\2713 ";
			}
		}

		&:empty {
			border: none;
		}
	}

	> span {
		color: #999;
	}
}

.contextual {
	.drdn-content {
		top: 18px;
	}

	.drdn-items {
		padding: 2px;
		min-width: 160px;

		> a {
			padding: 5px 8px;

			&.icon {
				&:before {
					margin-right: 5px;
					overflow: hidden;
				}
			}

			&:hover {
				color: #2A5685;
				border: 1px solid #628db6;
				background-color: #eef5fd;
				border-radius: 3px;
			}
		}
	}
}


#project-jump {
	&.drdn {
		width: 200px;
		display: inline-block;
	}

	.drdn-trigger {
		width: 100%;
		height: 30px;
		display: inline-block;
		padding: 3px 18px 3px 6px;
		border-radius: 3px;
		border: 1px solid darken($header-background-color, 5%);
		margin: 0 !important;
		vertical-align: middle;
		color: #555;
		background: #fff url(../../../images/arrow_down.png) no-repeat 97% 50%;
	}

	.drdn.expanded .drdn-trigger {
		background-image: url(../../../images/arrow_up.png);
	}

	.drdn-content {
		width: 280px;
	}

	.drdn-items > {
		* {
			color: #555 !important;
		}

		a:hover {
			background-color: #759FCF;
			color: #fff !important;
		}
	}
}