
#header {
	margin: 0;
    background-color: $header-background-color;
	color: #f8f8f8;
	padding: 0px 8px 0 8px;
	position: relative;

	a {
		color: #f8f8f8;
	}

	h1 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 5px 10px;

		.breadcrumbs {
			display: block;
			font-size: .5em;
			font-weight: normal;
		}
	}
}