html, body {
	min-height: 100vh;
}

html {
	overflow-y: scroll;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
	min-width: 900px;
	
}

h1, h2, h3, h4 {
	padding: 10px 10px 10px 0px;
	margin: 0;
	font-weight: normal;
}

#content h1, h2, h3, h4 {
	color: #555;
}

h2, .wiki h1 {
	color: $h2-color;
	font-size: 1.4rem;
}

h3, .wiki h2 {
	font-size: 1.2rem;
}

h4, .wiki h3 {
	font-size: 13px;
}

h4 {
	border-bottom: 1px #dddddd dashed ;
	font-weight: normal;
}

pre, code {
	font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
}

/***** Layout *****/

div {
	&#wrapper, &#wrapper2, &#wrapper3 {
		min-height: inherit;
	}
}

#wrapper {
	background: white;
	overflow: hidden;
}

#wrapper3 {
	display: flex;
	flex-direction: column;
}


#account {
	float: right;
}


#quick-search {
	margin-top: 10px;
	margin-right: 10px;
	float: right;

	label[for=q] {
		height: 30px;
		line-height: 30px;
	}

	#q {
		width: 130px;
		height: 30px;
		box-sizing: border-box;
		vertical-align: middle;
		border: 1px solid darken($header-background-color, 5%);
		border-radius: 3px;
	}
}



#main {
	flex-grow: 2;
	display: flex;
	flex-direction: row-reverse;
}

#sidebar {
	flex-shrink: 0;
	padding-left: 20px;
	background: $siderbar-background-color;
	border-left: 1px solid $siderbar-border-color;;

	h3 {
		font-size: 14px;
		margin-top: 14px;
		color: #666;
	}

	hr {
		width: 100%;
		margin: 0 auto;
		height: 1px;
		border-top: 1px #ffffff solid;
		background: $hr-border-color;
		border: 0;
	}
}

@media screen and (min-width: 0px) and (max-width: 1089px) {
	#sidebar {
		width: 22%;
	}
}

@media screen and (min-width: 1090px) and (max-width: 1279px) {
	#sidebar {
		width: 240px;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
	#sidebar {
		width: 280px;
	}
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
	#sidebar {
		width: 320px;
	}
}

@media screen and (min-width: 1920px) and (max-width: 2559px) {
	#sidebar {
		width: 360px;
	}
}

@media screen and (min-width: 2560px) {
	#sidebar {
		width: 380px;
	}
}

* html #sidebar hr {
	width: 95%;
	position: relative;
	left: -6px;
	color: #ccc;
}

#sidebar {
	.contextual {
		margin-right: 1em;
	}

	ul {
		margin: 0;
		padding: 0;
	}
}

ul.flat {
	margin: 0;
	padding: 0;
}

#sidebar ul li, ul.flat li {
	list-style-type: none;
	margin: 0px 2px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#sidebar {
	div.wiki ul {
		margin: inherit;
		padding-left: 40px;

		li {
			list-style-type: inherit;
		}
	}

	a.icon-only {
		opacity: 0.4;
		margin-left: 5px;

		&:hover {
			opacity: 1;
		}
	}

	li input[type=checkbox] {
		height: 20px;
	}
}

#content {
	flex-grow: 1;
	background-color: #fff;
	margin: 0px;
	padding: 6px 10px 10px 10px;
	overflow-x: auto;
	border-bottom: 1px #dddddd solid;
}

html > body #content {
	min-height: 600px;
}

* html body #content {
	height: 600px;
}

/* IE */

#main.nosidebar #sidebar {
	display: none;
}

#footer {
	clear: both;
	font-size: 12px;
	color: #999;
	padding: 5px;
	text-align: center;
	background: #f5f5f5;
}

#login-form {
	margin: 5em auto 2em auto;
	padding: 20px;
	width: 340px;
	border: 1px solid #FDBF3B;
	background-color: #FFEBC1;
	border-radius: 4px;
	box-sizing: border-box;

	label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;

		&[for=autologin] {
			font-weight: normal;
		}
	}

	input {
		height: 29px;

		&[type=text], &[type=password], &[type=submit] {
			display: block;
			width: 100%;
		}

		&[type=text], &[type=password] {
			margin-bottom: 15px;
		}
	}

	a.lost_password {
		float: right;
		font-weight: normal;
	}

	input#openid_url {
		background: #fff url(../../../images/openid-bg.gif) no-repeat 4px 50%;
		padding-left: 24px !important;
	}
}

div.modal {
	border-radius: 5px;
	background: #fff;
	z-index: 50;
	padding: 4px;

	h3.title {
		display: none;
	}

	p.buttons {
		text-align: right;
		margin-bottom: 0;
	}

	.box p {
		margin: 0.3em 0;
	}
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.mobile-show, .hidden {
	display: none;
}

div.table-list.boards .table-list-cell.name {
	width: 30%;
}

#query_form_content {
	font-size: 90%;
}

#query_form_with_buttons > p.contextual {
	font-size: 12px;
	margin: 12px 0px;
}

.query_sort_criteria_count {
	display: inline-block;
	min-width: 1em;
}

.query-columns {
	> span {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	label {
		display: block;
	}

	.buttons input[type=button] {
		width: 35px;
		display: block;
	}

	select {
		min-width: 150px;
	}
}

.query-totals {
	text-align: right;

	> span:not(:first-child) {
		margin-left: 0.6em;
	}

	.value {
		font-weight: bold;
	}
}

body.controller-issues .query-totals {
	margin-top: -2.3em;
}

td.center {
	text-align: center;
}

#watchers {
	select {
		width: 95%;
		display: block;
	}

	img.gravatar {
		margin: 0 4px 2px 0;
	}
}

span {
	&#watchers_inputs {
		overflow: auto;
		display: block;
	}

	&.search_for_watchers {
		display: block;
		font-size: 80%;
		line-height: 2.5em;
	}

	&.add_attachment {
		font-size: 80%;
		line-height: 2.5em;

		a {
			padding-left: 16px;
			background: url(../../../images/bullet_add.png) no-repeat 0 50%;
		}
	}
}

input:disabled, select:disabled, textarea:disabled {
	cursor: not-allowed;
	color: graytext;
}

.highlight {
	background-color: #FCFD8D;

	&.token-1 {
		background-color: #faa;
	}

	&.token-2 {
		background-color: #afa;
	}

	&.token-3 {
		background-color: #aaf;
	}
}

.box {
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #f6f6f6;
	color: #505050;
	line-height: 1.5em;
	border: 1px solid #dddddd;
	word-wrap: break-word;
	border-radius: 3px;
}

div.square {
	border: 1px solid #999;
	float: left;
	margin: .3em .4em 0 .4em;
	overflow: hidden;
	width: .6em;
	height: .6em;
}

.contextual {
	float: right;
	white-space: nowrap;
	line-height: 1.4em;
	margin: 5px 0px;
	padding-left: 10px;
	font-size: 0.9em;

	.icon {
		padding-top: 2px;
		padding-bottom: 3px;
	}

	input, select {
		font-size: 13px;
	}
}

.message .contextual {
	margin-top: 0;
}

.splitcontent {
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 5px;
}

.splitcontentleft {
	flex: 1;
	margin-right: 5px;
}

.splitcontentright {
	flex: 1;
	margin-left: 5px;
}

.splitcontenttop {
	flex: 2;
	flex-basis: 100%;
}

form {
	display: inline;
}

input, select, button {
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0 7px;
	height: 29px;
	line-height: 29px;
}

input, select, textarea, button {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url(../../../images/arrow_down.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 7px) 50%;
	padding-right: 20px;
}

input {
	&[type="file"] {
		border: 0;
		padding-left: 0;
		padding-right: 0;
		background-color: initial;
	}

	&[type="submit"] {
		-webkit-appearance: button;
		cursor: pointer;
		background-color: #fff;
		-webkit-transition: background-color 100ms linear;
		-moz-transition: background-color 100ms linear;
		-o-transition: background-color 100ms linear;
		transition: background-color 100ms linear;
	}

	&[type="radio"] {
		width: 20px;
		height: 20px;
		margin-top: -1px;
		margin-bottom: 1px;
	}

	&[type="checkbox"] {
		width: 18px;
		height: 18px;
		margin-top: 8px;
		margin-bottom: 1px;
		vertical-align: middle;
	}
}

label {
	&.inline, &.block {
		input[type=checkbox] {
			margin-top: 1px;
		}
	}

	input[type=checkbox] {
		margin-top: 1px;
	}
}

.field, fieldset {
	input[type=checkbox] {
		margin-top: 1px;
	}

	label {
		vertical-align: middle;
		line-height: 20px;
	}
}

.scm_name, .field {

	label {
		vertical-align: bottom;

		input[type=checkbox] {
			margin-top: 1px;
		}
	}

}

#sidebar {
	input[type=checkbox] {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

button[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	background-color: #fff;
	height: 28px;
	-webkit-transition: background-color 100ms linear;
	-moz-transition: background-color 100ms linear;
	-o-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}

input[type="submit"]:hover, button[type="submit"]:hover {
	background-color: #ddd;
}

input {
	&[type="text"] {
		&:focus, &:active {
			border: 1px solid #5ad;
			outline: none;
		}
	}

	&[type="password"] {
		&:focus, &:active {
			border: 1px solid #5ad;
			outline: none;
		}
	}

	&[type="date"] {
		&:focus, &:active {
			border: 1px solid #5ad;
			outline: none;
		}
	}

	&[type="number"] {
		&:focus, &:active {
			border: 1px solid #5ad;
			outline: none;
		}
	}
}

select {
	&:focus, &:active {
		border: 1px solid #5ad;
		outline: none;
	}
}

textarea {
	&:focus, &:active {
		border: 1px solid #5ad;
		outline: none;
	}
}

select[multiple=multiple] {
	background: #fff;
	padding-right: initial;
	height: auto;
}



legend {
	color: #333;
}

hr {
	width: 100%;
	height: 1px;
	border: 0;
	border-bottom: 1px #ffffff solid;
	background: $hr-border-color;
}

blockquote {
	font-style: italic;
	border-left: 3px solid #e0e0e0;
	padding-left: 0.6em;
	margin-left: 0;

	blockquote {
		margin-left: 0;
	}
}

abbr, span.field-description[title] {
	border-bottom: 1px dotted #aaa;
	cursor: help;
}

textarea.wiki-edit {
	width: 99%;
	resize: vertical;
	box-sizing: border-box;
}

body {
	&.textarea-monospace textarea.wiki-edit {
		font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
		font-size: 12px;
	}

	&.textarea-proportional textarea.wiki-edit {
		font-family: Verdana, sans-serif;
		font-size: 12px;
	}
}

li p {
	margin-top: 0;
}

div.issue {
	background: $issue-background-color;
	padding: 6px;
	margin-bottom: 6px;
	border: 1px solid $issue-border-color;
	border-radius: 3px;
}

p {
	&.breadcrumb {
		font-size: 0.9em;
		margin: 4px 0 4px 0;
	}

	&.subtitle {
		font-size: 0.9em;
		margin: -6px 0 12px 0;
		font-style: italic;
	}

	&.footnote {
		font-size: 0.9em;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.wiki-class-ltr {
	direction: ltr !important;
}

.wiki-class-rtl {
	direction: rtl !important;
}

div {
	&.issue {
		div.subject {
			div div {
				padding-left: 16px;
			}

			p {
				margin: 0;
				margin-bottom: 0.1em;
				font-size: 90%;
				color: #999;
			}

			> div > p {
				margin-top: 0.5em;
			}

			h3 {
				margin: 0;
				font-size: 24px;
				padding: 5px;
			}
		}

		p.author {
			margin-top: 0.5em;
			font-size: 13px;
			padding: 5px;
		}

		span.private {
			font-size: 60%;
		}
	}

	&.journal span.private {
		font-size: 60%;
	}

	&.issue {
		.next-prev-links {
			color: #999;
		}

		.attributes {
			margin-top: 0px;

			.attribute {
				padding-left: 180px;
				clear: left;
				min-height: 1.8em;

				.label {
					width: 170px;
					margin-left: -180px;
					font-weight: 500;
					float: left;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.attribute .value {
			overflow: auto;
			text-overflow: ellipsis;
		}

		&.overdue .due-date .value {
			color: #c22;
		}
	}
}

#issue_tree table.issues, #relations table.issues {
	border: 0;
}

#issue_tree td.checkbox {
	display: none;
}

#relations td {
	&.checkbox {
		display: none;
	}

	&.buttons {
		padding: 0;
	}
}

#issue_tree td.buttons {
	padding: 0;
}

#trackers_description {
	display: none;

	dt {
		font-weight: bold;
		text-decoration: underline;
	}

	dd {
		margin: 0;
		padding: 0 0 1em 0;
	}
}



#filters-table {
	width: 60%;
	float: left;
}

.add-filter {
	width: 35%;
	float: right;
	text-align: right;
	vertical-align: top;
}

#issue_is_private_wrap {
	float: right;
	margin-right: 1em;
}

.toggle-multiselect {
	margin-right: 5px;
	cursor: pointer;
}

.buttons {
	font-size: 0.9em;
	margin-bottom: 1.4em;
	margin-top: 1em;

	.icon {
		padding-top: 1px;
	}
}

div#issue-changesets {
	float: right;
	width: 45%;
	margin-left: 1em;
	margin-bottom: 1em;
	background: #fff;
	padding-left: 1em;
	font-size: 90%;

	div.changeset {
		padding: 4px;
		border-bottom: 1px solid #ddd;
	}

	p {
		margin-top: 0;
		margin-bottom: 1em;
	}
}

.changeset-comments {
	margin-bottom: 1em;
}

div.journal {
	.contextual {
		margin-top: 0;
	}

	&.private-notes .wiki {
		border-left: 2px solid #d22;
		padding-left: 4px;
		margin-left: -6px;
	}

	ul.details {
		color: #959595;
		margin-bottom: 1.5em;
	}
}

ul.revision-info {
	color: #959595;
	margin-bottom: 1.5em;
}

div.journal ul.details a, ul.revision-info a {
	color: #70A7CD;
}

div.journal ul.details a:hover, ul.revision-info a:hover {
	color: #D14848;
}

body.avatars-on div.journal {
	padding-left: 32px;
}

div.journal h4 img.gravatar {
	margin-left: -32px;
}

#history {
	.tab-content {
		padding: 15px;
		margin-bottom: 10px;
		border-right: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
		border-radius: 0 0 3px 3px / 0 0 3px 3px;
	}

	h4.note-header {
		
		height: 25px;
		line-height: 25px;
		&:before {
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			content: fa-content($fa-var-user-edit);
			padding: 0 5px;
			color: #b4450e;
		}
	}

	.journal-link {
		height: 25px;
		line-height: 25px;
	}

	div:target h4.note-header {
		background-color: #DDEEFF;

	}

	p.nodata {
		display: none;
	}
}




div {
	&#search-results-counts {
		float: right;

		ul {
			margin-top: 0.5em;
		}

		li {
			list-style-type: none;
			float: left;
			margin-left: 1em;
		}
	}

	&#roadmap {
		.related-issues {
			margin-bottom: 1em;

			td {
				&.checkbox {
					display: none;
				}

				&.assigned_to {
					width: 1px;
					white-space: nowrap;
					padding: 0;

					img {
						padding-left: 4px;
						padding-right: 4px;
					}
				}
			}
		}

		.wiki {
			h1 {
				&:first-child {
					display: none;
				}

				font-size: 120%;
			}

			h2 {
				font-size: 110%;
			}
		}

		h2, h3 {
			display: inline;
			padding-right: 0;
		}
	}
}

body.controller-versions.action-show div#roadmap .related-issues {
	width: 70%;
}

div#version-summary {
	float: right;
	width: 28%;
	margin-left: 16px;
	margin-bottom: 16px;
	background-color: #fff;

	fieldset {
		margin-bottom: 1em;

		&.time-tracking table {
			width: 100%;
		}
	}

	th, td.total-hours {
		text-align: right;
	}
}

table#time-report {
	td.hours {
		text-align: right;
		padding-right: 0.5em;
	}

	th {
		&.period, &.total {
			text-align: right;
			padding-right: 0.5em;
		}
	}

	tbody tr {
		&.subtotal {
			font-style: italic;
			color: #777;

			td.hours {
				color: #b0b0b0;
			}
		}

		&.total {
			font-weight: bold;
			background-color: #EEEEEE;
			border-top: 1px solid #e4e4e4;
		}
	}

	.hours-dec {
		font-size: 0.9em;
	}
}

div {
	&.wiki-page .contextual a {
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}
	}

	&.wiki a:target + {
		h1, h2, h3, h4, h5, h6 {
			background-color: #DDEEFF;
		}
	}
}

.wiki-update-info {
	text-align: right;
	color: #666;
	font-size: 90%;
}

form .attributes select {
	width: 60%;

	+ a.icon-only {
		vertical-align: middle;
		margin-left: 4px;
	}
}

input {
	&#issue_subject, &#document_title {
		width: 99%;
	}
}

select#issue_done_ratio {
	width: 95px;
}

ul.projects {
	margin: 0;
	padding-left: 1em;

	ul {
		padding-left: 1.6em;
	}

	&.root {
		margin: 0;
		padding: 0;
	}

	li {
		&.root, &.child {
			list-style-type: none;
		}
	}

	div.description li {
		list-style-type: initial;
	}

	div.root {
		display: block;
		min-height: 120px;
		max-width: calc(100% - 10px);
	}
}

#projects-index {
	column-count: auto;
	column-width: 400px;
	-webkit-column-count: auto;
	-webkit-column-width: 400px;
	-webkit-column-gap: 0.5rem;
	-moz-column-count: auto;
	-moz-column-width: 400px;
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
	margin-bottom: 1.2em;

	li.root ul.projects {
		border-left: 3px solid #e0e0e0;
		padding-left: 1em;
	}

	ul.projects {
		li {
			&.root {
				margin-bottom: 1em;
				padding: 15px 20px;
				border: 1px solid #d7d7d7;
				border-radius: 3px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				break-inside: avoid-column;
				-webkit-break-inside: avoid-column;
				-moz-break-inside: avoid-column;
				page-break-inside: avoid;
				-webkit-column-break-inside: avoid;
				-moz-column-break-inside: avoid;
				width: 100%;
			}

			&.child {
				margin-top: 1em;
			}
		}

		div {
			&.root a.project {
				font-weight: bold;
				font-size: 16px;
				margin: 0 0 10px 0;
			}

			&.description {
				padding-top: 0.5em;
			}
		}
	}

	a.icon-user {
		padding-left: 0;
		padding-right: 20px;
		background-position: 98% 50%;
	}
}

#notified-projects > ul, #tracker_project_ids > ul, #custom_field_project_ids > ul {
	max-height: 250px;
	overflow-y: auto;
}

ul.subprojects {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;

	li {
		float: left;

		&:not(:last-child)::after {
			content: ', ';
			white-space: pre;
			white-space: pre;
		}
	}
}

#related-issues li img {
	vertical-align: middle;
}

ul.properties {
	padding: 0;
	font-size: 0.9em;
	color: #777;

	li {
		list-style-type: none;

		span {
			font-style: italic;
		}
	}
}

.total-hours {
	font-size: 110%;
	font-weight: bold;

	span.hours-int {
		font-size: 120%;
	}
}

.autoscroll {
	overflow-x: auto;
	padding: 1px;
	margin-bottom: 1.2em;
	position: relative;
}

#user_login, #user_firstname, #user_lastname, #user_mail, #my_account_form select, #user_form select, #user_identity_url {
	width: 90%;
}

#workflow_copy_form select {
	width: 200px;
}

table.transitions td.enabled {
	background: #bfb;
}

#workflow_form table select {
	font-size: 90%;
	max-width: 100px;
}

table.fields_permissions td {
	&.readonly {
		background: #ddd;
	}

	&.required {
		background: #d88;
	}
}

select.expandable {
	vertical-align: top;
}

textarea {
	&#custom_field_possible_values, &#custom_field_default_value {
		width: 95%;
		resize: vertical;
	}
}

.sort-handle {
	display: inline-block;
	vertical-align: middle;
}

input#content_comments {
	width: 99%;
}

span.pagination {
	margin-left: 3px;
	color: #888;
	display: block;
}

.pagination {
	ul.pages {
		margin: 0 5px 0 0;
		padding: 0;
		display: inline;

		li {
			display: inline-block;
			padding: 0;
			border: 1px solid #ddd;
			margin-left: -1px;
			line-height: 2em;
			margin-bottom: 1em;
			white-space: nowrap;
			text-align: center;

			a, span {
				padding: 3px 8px;
			}

			&:first-child {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			&:last-child {
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			&.current {
				color: white;
				background-color: #628DB6;
				border-color: #628DB6;
			}

			&.page {
				&:hover {
					background-color: #ddd;
				}

				a {
					&:hover, &:active {
						color: #169;
						text-decoration: inherit;
					}
				}
			}
		}
	}

	.per-page span.selected {
		font-weight: bold;
	}
}

span.pagination > span {
	white-space: nowrap;
}

.controller-attachments.action-show span.pagination {
	display: block;
	margin-top: 1.2em;
}

#search-form fieldset p {
	margin: 0.2em 0;
}

/***** Tabular forms ******/

.tabular p {
	margin: 0;
	padding: 3px 0 3px 0;
	padding-left: 180px;

	/* width of left column containing the label elements */
	min-height: 2em;
	clear: left;
}

html > body .tabular p {
	overflow: hidden;
}

.tabular {
	input, select {
		max-width: 95%;
	}

	textarea {
		width: 95%;
		resize: vertical;
	}

	label {
		font-weight: 500;
		float: left;
		text-align: right;

		/* width of left column */
		margin-left: -180px;

		/* width of labels. Should be smaller than left column to create some right margin */
		width: 175px;
		line-height: 33px;

		&.floating {
			font-weight: normal;
			margin-left: 0px;
			text-align: left;
			width: 270px;
		}
	}
}

label.block {
	display: block;
	width: auto !important;
}

.tabular label {
	&.block {
		font-weight: normal;
		margin-left: 0px !important;
		text-align: left;
		float: none;
	}

	&.inline {
		font-weight: normal;
		float: none;
		margin-left: 5px !important;
		width: auto;
	}
}

label.no-css {
	font-weight: inherit;
	float: none;
	text-align: left;
	margin-left: 0px;
	width: auto;
}

input {
	&#time_entry_comments {
		width: 90%;
	}

	&#months {
		width: 46px;
	}
}

.jstBlock {
	.jstTabs, .wiki-preview {
		width: 99%;
	}

	.jstTabs {
		padding-right: 6px;
	}

	.wiki-preview {
		padding: 2px;

		p {
			&:first-child {
				padding-top: 0 !important;
				margin-top: 0 !important;
			}

			&:last-child {
				padding-bottom: 0 !important;
				margin-bottom: 0 !important;
			}
		}
	}
}

.tabular {
	.wiki-preview, .jstTabs {
		width: 95%;
	}

	&.settings {
		.wiki-preview, .jstTabs {
			width: 99%;
		}
	}

	.wiki-preview p {
		min-height: initial;
		padding: 0;
		padding-top: 1em !important;
		padding-bottom: 1em !important;
		overflow: initial;
	}

	&.settings {
		p {
			padding-left: 300px;
		}

		label {
			margin-left: -300px;
			width: 295px;
		}

		textarea, .wiki-preview, .jstTabs {
			width: 99%;
		}
	}
}

.settings.enabled_scm {
	table {
		width: 100%;
	}

	td.scm_name {
		font-weight: bold;
	}
}



span.required {
	color: #bb0000;
}

.summary {
	font-style: italic;
}

.check_box_group {
	display: block;
	width: 95%;
	max-height: 120px;
	overflow-y: auto;
	padding: 2px 4px 4px 2px;
	background: #fff;
	border: 1px solid #9EB1C2;
	border-radius: 2px;

	label {
		font-weight: normal;
		margin-left: 0px !important;
		text-align: left;
		float: none;
		display: block;
		width: auto;
	}

	&.bool_cf {
		border: 0;
		background: inherit;

		label {
			display: inline;
		}
	}
}

.attachments_fields input.description, #existing-attachments input.description {
	margin-left: 4px;
	width: 340px;
}

.attachments_fields > span, #existing-attachments > span {
	display: block;
	white-space: nowrap;
}

.attachments_fields input.filename, #existing-attachments .filename {
	border: 0;
	width: 250px;
	color: #555;
	background-color: inherit;
}

.tabular input.filename {
	max-width: 75% !important;
}

.attachments_fields {
	input.filename {
		height: 1.8em;
	}

	.ajax-waiting input.filename {
		background: url(../../../images/hourglass.png) no-repeat 0px 50%;
	}

	.ajax-loading input.filename {
		background: url(../../../images/loading.gif) no-repeat 0px 50%;
	}

	div.ui-progressbar {
		width: 100px;
		height: 14px;
		margin: 2px 0 -5px 8px;
		display: inline-block;
	}
}

a.remove-upload:hover {
	text-decoration: none !important;
}

.existing-attachment.deleted .filename {
	text-decoration: line-through;
	color: #999 !important;
}

div {
	&.fileover {
		background-color: lavender;
	}

	&.attachments {
		p {
			margin: 4px 0 2px 0;
		}

		img {
			vertical-align: middle;
		}

		span.author {
			font-size: 0.9em;
			color: #888;
		}
	}

	&.thumbnails {
		margin: 0.6em;

		div {
			background: #fff;
			border: 2px solid #ddd;
			display: inline-block;
			margin-right: 2px;
		}

		img {
			margin: 3px;
			vertical-align: middle;
		}
	}
}

#history div.thumbnails {
	margin-left: 2em;
}

p.other-formats {
	text-align: right;
	font-size: 0.9em;
	color: #666;
}

.other-formats span + span:before {
	content: "| ";
}

a.atom {
	background: url(../../../images/feed.png) no-repeat 1px 50%;
	padding: 2px 0px 3px 16px;
}

em.info {
	font-style: normal;
	display: block;
	font-size: 90%;
	color: #888;

	&.error {
		padding-left: 20px;
		background: url(../../../images/exclamation.png) no-repeat 0 50%;
	}
}

textarea.text_cf {
	width: 95%;
	resize: vertical;
}

input {
	&.string_cf, &.link_cf {
		width: 95%;
	}
}

select.bool_cf {
	width: auto !important;
}

#tab-content-modules fieldset p {
	margin: 3px 0 4px 0;
}

#tab-content-users {
	.splitcontentleft {
		width: 64%;
	}

	.splitcontentright {
		width: 34%;
	}

	fieldset {
		padding: 1em;
		margin-bottom: 1em;

		label {
			display: block;
		}
	}

	#principals {
		max-height: 400px;
		overflow: auto;
	}
}

#users_for_watcher {
	height: 200px;
	overflow: auto;

	label {
		display: block;
	}
}

input {
	&#principal_search, &#user_search {
		width: 90%;
	}
}

.roles-selection label {
	display: inline-block;
	width: 210px;
}

input.autocomplete {
	background: #fff url(../../../images/magnifier.png) no-repeat 2px 50%;
	padding-left: 20px !important;

	&.ajax-loading {
		background-image: url(../../../images/loading.gif);
	}
}

.role-visibility {
	padding-left: 2em;
}

.objects-selection {
	height: 300px;
	overflow: auto;
	margin-bottom: 1em;

	label {
		display: block;
	}

	> div {
		column-count: auto;
		column-width: 200px;
		-webkit-column-count: auto;
		-webkit-column-width: 200px;
		-webkit-column-gap: 0.5rem;
		-webkit-column-rule: 1px solid #ccc;
		-moz-column-count: auto;
		-moz-column-width: 200px;
		-moz-column-gap: 0.5rem;
		column-gap: 0.5rem;
		-moz-column-rule: 1px solid #ccc;
		column-rule: 1px solid #ccc;
	}
}

#user_group_ids {
	column-count: auto;
	column-width: 200px;
	-webkit-column-count: auto;
	-webkit-column-width: 200px;
	-webkit-column-gap: 0.5rem;
	-webkit-column-rule: 1px solid #ccc;
	-moz-column-count: auto;
	-moz-column-width: 200px;
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
	-moz-column-rule: 1px solid #ccc;
	column-rule: 1px solid #ccc;
}


/***** Ajax indicator ******/

#ajax-indicator {
	position: absolute;

	/* fixed not supported by IE */
	background-color: #eee;
	border: 1px solid #bbb;
	top: 35%;
	left: 40%;
	width: 20%;
	font-weight: bold;
	text-align: center;
	padding: 0.6em;
	z-index: 100;
	opacity: 0.5;
}

html > body #ajax-indicator {
	position: fixed;
}

#ajax-indicator span {
	background-position: 0% 40%;
	background-repeat: no-repeat;
	background-image: url(../../../images/loading.gif);
	padding-left: 26px;
	vertical-align: bottom;
}

/***** Calendar *****/

table.cal {
	width: 100%;
	margin: 0 0 6px 0;
	border: 1px solid #c0c0c0;
	border-spacing: 0;
	border-radius: 3px;

	thead th {
		width: 14%;
		background-color: #EEEEEE;
		padding: 4px;

		&.week-number {
			width: auto;
		}
	}

	tbody tr {
		height: 100px;
	}

	td {
		.icon {
			padding-top: 2px;
			padding-bottom: 3px;
		}

		border: 1px solid #d7d7d7;
		vertical-align: top;
		font-size: 0.9em;
		border-bottom: 0;
		border-right: 0;

		&.week-number {
			background-color: #EEEEEE;
			padding: 4px;
			border: none;
			font-size: 1em;
		}

		p.day-num {
			font-size: 1.1em;
			text-align: right;
		}

		&.odd p.day-num {
			color: #bbb;
		}

		&.today {
			background: #ffffdd;

			p.day-num {
				font-weight: bold;
			}
		}

		&.nwday:not(.odd) {
			background-color: #f1f1f1;
		}
	}

	.starting a.issue {
		background: url(../../../images/bullet_go.png) no-repeat -1px -2px;
		padding-left: 16px;
	}
}

p.cal.legend .starting {
	background: url(../../../images/bullet_go.png) no-repeat -1px -2px;
	padding-left: 16px;
}

table.cal .ending a.issue, p.cal.legend .ending {
	background: url(../../../images/bullet_end.png) no-repeat -1px -2px;
	padding-left: 16px;
}

table.cal .starting.ending a.issue {
	background: url(../../../images/bullet_diamond.png) no-repeat -1px -2px;
	padding-left: 16px;
}

p.cal.legend {
	.starting.ending {
		background: url(../../../images/bullet_diamond.png) no-repeat -1px -2px;
		padding-left: 16px;
	}

	span {
		display: block;
	}
}

/***** Tooltips ******/

.tooltip {
	position: relative;
	z-index: 24;

	&:hover {
		z-index: 25;
		color: #000;
	}

	span.tip {
		display: none;
		text-align: left;

		a {
			color: #169 !important;
		}

		img.gravatar {
			float: none;
			margin: 0;
		}
	}
}

div.tooltip:hover span.tip {
	display: block;
	position: absolute;
	top: 12px;
	width: 270px;
	border: 1px solid #555;
	background-color: #fff;
	padding: 4px;
	font-size: 0.8em;
	color: #505050;
}

table.cal div.tooltip:hover span.tip {
	top: 25px;
}

img.ui-datepicker-trigger {
	cursor: pointer;
	vertical-align: middle;
	margin-left: 4px;
}

div.tabs-buttons {
	position: absolute;
	right: 0;
	width: 54px;
	height: 24px;
	background: white;
	bottom: 0;
	border-bottom: 1px solid #bbbbbb;
}

button {
	&.tab-left, &.tab-right {
		font-size: 0.9em;
		cursor: pointer;
		height: 24px;
		border: 1px solid #ccc;
		border-bottom: 1px solid #bbbbbb;
		position: absolute;
		padding: 4px;
		width: 20px;
		bottom: -1px;
	}

	&.tab-left:hover, &.tab-right:hover {
		background-color: #f5f5f5;
	}

	&.tab-left:focus, &.tab-right:focus {
		outline: 0;
	}

	&.tab-left {
		right: 20px;
		background: #eeeeee url(../../../images/arrow_left.png) no-repeat 50% 50%;
		border-top-left-radius: 3px;
	}

	&.tab-right {
		right: 0;
		background: #eeeeee url(../../../images/arrow_right.png) no-repeat 50% 50%;
		border-top-right-radius: 3px;
	}

	&.tab-left.disabled, &.tab-right.disabled {
		background-color: #ccc;
		cursor: unset;
	}
}

/***** Diff *****/

.diff_out {
	background: #fcc;

	span {
		background: #faa;
	}
}

.diff_in {
	background: #cfc;

	span {
		background: #afa;
	}
}

.text-diff {
	padding: 1em;
	background-color: #f6f6f6;
	color: #505050;
	border: 1px solid #e4e4e4;
	white-space: pre-wrap;
}


/***** My page layout *****/

.block-receiver {
	border: 1px dashed #fff;
	padding: 15px 0 0 0;
}

.dragging .block-receiver {
	border: 1px dashed #777;
	margin-bottom: 20px;
}

.mypage-box {
	border: 1px solid #ddd;
	padding: 8px;
	margin: 0 0 20px 0;
	color: #505050;
	line-height: 1.5em;
	border-radius: 3px;

	> .contextual {
		opacity: 0.001;
		transition: opacity 0.2s;
	}

	&:hover > .contextual {
		opacity: 1;
	}
}

.handle {
	cursor: move;
}

#my-page .list {
	th.checkbox, td.checkbox {
		display: none;
	}
}

/***** Gantt chart *****/

table.gantt-table {
	width: 100%;
	border-collapse: collapse;

	td {
		padding: 0px;
	}
}

.gantt_hdr {
	position: absolute;
	top: 0;
	height: 16px;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	text-align: center;
	overflow: hidden;
}

#gantt_area .gantt_hdr {
	border-left: 0px;
	border-right: 1px solid #c0c0c0;
}

.gantt_subjects_container:not(.draw_selected_columns) .gantt_hdr, .last_gantt_selected_column .gantt_hdr {
	z-index: 10;
	border-right: 1px solid #c0c0c0;
}

.gantt_subjects_container .gantt_subjects * {
	z-index: 10;
}

.gantt_subjects_column + td {
	padding: 0;
}

.gantt_hdr.nwday {
	background-color: #f1f1f1;
	color: #999;
}

.gantt_subjects, .gantt_selected_column_content.gantt_hdr {
	font-size: 0.8em;
	position: relative;
	z-index: 1;
}

.gantt_subjects div, .gantt_selected_column_content div {
	line-height: 16px;
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

.gantt_subjects div.issue-subject:hover {
	background-color: #ffffdd;
}

.gantt_selected_column_content {
	padding-left: 3px;
	padding-right: 3px;
}

.gantt_subjects .issue-subject img.icon-gravatar {
	margin: 2px 5px 0px 2px;
}

.gantt_hdr_selected_column_name {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	font-size: 0.8em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

td.gantt_selected_column {
	width: 50px;

	.gantt_hdr {
		width: 49px;
	}
}

.gantt_selected_column_container {
	width: 49px;
}

.task {
	position: absolute;
	height: 8px;
	font-size: 0.8em;
	color: #888;
	padding: 0;
	margin: 0;
	line-height: 16px;
	white-space: nowrap;

	&.label {
		width: 100%;

		&.project, &.version {
			font-weight: bold;
		}
	}
}

.task_late {
	background: #f66 url(../../../images/task_late.png);
	border: 1px solid #f66;
}

.task_done {
	background: #00c600 url(../../../images/task_done.png);
	border: 1px solid #00c600;
}

.task_todo {
	background: #aaa url(../../../images/task_todo.png);
	border: 1px solid #aaa;

	&.parent {
		background: #888;
		border: 1px solid #888;
		height: 3px;
	}
}

.task_late.parent, .task_done.parent {
	height: 3px;
}

.task.parent.marker {
	&.starting {
		position: absolute;
		background: url(../../../images/task_parent_end.png) no-repeat 0 0;
		width: 8px;
		height: 16px;
		margin-left: -4px;
		left: 0px;
		top: -1px;
	}

	&.ending {
		position: absolute;
		background: url(../../../images/task_parent_end.png) no-repeat 0 0;
		width: 8px;
		height: 16px;
		margin-left: -4px;
		right: 0px;
		top: -1px;
	}
}

.version {
	&.task_late {
		background: #f66 url(../../../images/milestone_late.png);
		border: 1px solid #f66;
		height: 2px;
		margin-top: 3px;
	}

	&.task_done {
		background: #00c600 url(../../../images/milestone_done.png);
		border: 1px solid #00c600;
		height: 2px;
		margin-top: 3px;
	}

	&.task_todo {
		background: #fff url(../../../images/milestone_todo.png);
		border: 1px solid #fff;
		height: 2px;
		margin-top: 3px;
	}

	&.marker {
		background-image: url(../../../images/version_marker.png);
		background-repeat: no-repeat;
		border: 0;
		margin-left: -4px;
		margin-top: 1px;
	}
}

.project {
	&.task_late {
		background: #f66 url(../../../images/milestone_late.png);
		border: 1px solid #f66;
		height: 2px;
		margin-top: 3px;
	}

	&.task_done {
		background: #00c600 url(../../../images/milestone_done.png);
		border: 1px solid #00c600;
		height: 2px;
		margin-top: 3px;
	}

	&.task_todo {
		background: #fff url(../../../images/milestone_todo.png);
		border: 1px solid #fff;
		height: 2px;
		margin-top: 3px;
	}

	&.marker {
		background-image: url(../../../images/project_marker.png);
		background-repeat: no-repeat;
		border: 0;
		margin-left: -4px;
		margin-top: 1px;
	}
}

.version-behind-schedule a, .issue-behind-schedule a {
	color: #f66914;
}

.version-overdue a, .issue-overdue a, .project-overdue a {
	color: #f00;
}

/***** Badges *****/

.badge {
	position: relative;
	font-weight: bold;
	font-size: 10px;
	bottom: 2px;
	padding: 1px 3px;
	margin-right: 2px;
	margin-left: 2px;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
}

.badge-private {
	background: #d22;
	color: #fff;
}

.badge-count {
	color: #fff;
	background: #9DB9D5;
}

.badge-status-open {
	color: #205D86;
	border: 1px solid #205D86;
}

.badge-status-locked {
	color: #696969;
	border: 1px solid #696969;
}

.badge-status-closed {
	color: #1D781D;
	border: 1px solid #1D781D;
}

/***** Tooltips *****/

.ui-tooltip {
	background: #000;
	color: #fff;
	font-size: 0.9em;
	border-radius: 3px;
	border: 0;
	box-shadow: none;
}



.sort-handle {
	cursor: move;

	&.ajax-loading {
		background-image: url(../../../images/loading.gif);
	}
}

tr.ui-sortable-helper {
	border: 1px solid #e4e4e4;
}

.contextual > *:not(:first-child), .buttons > .icon:not(:first-child), .contextual .journal-actions > *:not(:first-child) {
	margin-left: 5px;
}

img.gravatar {
	vertical-align: middle;
	border-radius: 20%;
}

div {
	&.issue img.gravatar {
		float: left;
		margin: 0 12px 6px 0;
	}

	&.gravatar-with-child {
		position: relative;

		> img.gravatar:nth-child(2) {
			position: absolute;
			top: 30px;
			left: 30px;
			border-radius: 20%;
			border: 2px solid rgba(255, 255, 255, 0.9);
		}
	}
}

h2 img.gravatar, h3 img.gravatar {
	margin-right: 4px;
}

h4 img.gravatar {
	margin: -2px 4px -4px 0;
}

td.username img.gravatar {
	margin: 0 0.5em 0 0;
	vertical-align: top;
}

#activity dt img.gravatar {
	float: left;
	margin: 0 1em 1em 0;
}

/* Used on 12px Gravatar img tags without the icon background */

.icon-gravatar {
	float: left;
	margin-right: 4px;
}

#activity dt, .journal {
	clear: left;
}

h2 img {
	vertical-align: middle;
}

.hascontextmenu {
	cursor: context-menu;
}

.sample-data {
	border: 1px solid #ccc;
	border-collapse: collapse;
	background-color: #fff;
	margin: 0.5em;

	td {
		border: 1px solid #ccc;
		padding: 2px 4px;
		font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
	}

	tr:first-child td {
		font-weight: bold;
		text-align: center;
	}
}

.ui-progressbar {
	position: relative;
}

#progress-label {
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;
	color: #555;
	text-shadow: 1px 1px 0 #fff;
}

.repository-graph {
	width: 75%;
	margin-bottom: 2em;
}

img.filecontent.image {
	background-image: url(../../../images/transparent.png);
}

/* Custom JQuery styles */

.ui-datepicker-title select {
	width: 70px !important;
	margin-top: -2px !important;
	margin-right: 4px !important;
}

.ui-menu {
	&.ui-widget-content {
		background: #fff;
	}

	.ui-menu-item {
		&:hover {
			font-weight: normal;
			color: #555;
			background: #759FCF;
			color: #fff !important;
			border: 1px solid #759FCF;
		}

		&.ui-state-focus {
			font-weight: normal;
			color: #555;
			border-color: #759FCF;
		}
	}
}

/* Custom tribute styles */

.tribute-container {
	ul {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 2px;
	}

	li.highlight {
		background-color: #759FCF;
		color: #fff;
	}
}

/************* Rouge styles *************/
/* generated by: pygmentize -f html -a .syntaxhl -S colorful */

.syntaxhl {
	.hll {
		background-color: #ffffcc;
	}

	background: #fafafa;

	.c {
		color: #888888;
	}

	.err {
		color: #FF0000;
		background-color: #FFAAAA;
	}

	.k {
		color: #008800;
		font-weight: bold;
	}

	.o {
		color: #333333;
	}

	.ch, .cm {
		color: #888888;
	}

	.cp {
		color: #557799;
	}

	.cpf, .c1 {
		color: #888888;
	}

	.cs {
		color: #cc0000;
		font-weight: bold;
	}

	.gd {
		color: #A00000;
	}

	.ge {
		font-style: italic;
	}

	.gr {
		color: #FF0000;
	}

	.gh {
		color: #000080;
		font-weight: bold;
	}

	.gi {
		color: #00A000;
	}

	.go {
		color: #888888;
	}

	.gp {
		color: #c65d09;
		font-weight: bold;
	}

	.gs {
		font-weight: bold;
	}

	.gu {
		color: #800080;
		font-weight: bold;
	}

	.gt {
		color: #0044DD;
	}

	.kc, .kd, .kn {
		color: #008800;
		font-weight: bold;
	}

	.kp {
		color: #003388;
		font-weight: bold;
	}

	.kr {
		color: #008800;
		font-weight: bold;
	}

	.kt {
		color: #333399;
		font-weight: bold;
	}

	.m {
		color: #6600EE;
		font-weight: bold;
	}

	.s {
		background-color: #fff0f0;
	}

	.na {
		color: #0000CC;
	}

	.nb {
		color: #007020;
	}

	.nc {
		color: #BB0066;
		font-weight: bold;
	}

	.no {
		color: #003366;
		font-weight: bold;
	}

	.nd {
		color: #555555;
		font-weight: bold;
	}

	.ni {
		color: #880000;
		font-weight: bold;
	}

	.ne {
		color: #FF0000;
		font-weight: bold;
	}

	.nf {
		color: #0066BB;
		font-weight: bold;
	}

	.nl {
		color: #997700;
		font-weight: bold;
	}

	.nn {
		color: #0e84b5;
		font-weight: bold;
	}

	.nt {
		color: #007700;
	}

	.nv {
		color: #996633;
	}

	.ow {
		color: #000000;
		font-weight: bold;
	}

	.w {
		color: #bbbbbb;
	}

	.mb, .mf {
		color: #6600EE;
		font-weight: bold;
	}

	.mh {
		color: #005588;
		font-weight: bold;
	}

	.mi {
		color: #0000DD;
		font-weight: bold;
	}

	.mo {
		color: #4400EE;
		font-weight: bold;
	}

	.sa, .sb {
		background-color: #fff0f0;
	}

	.sc {
		color: #0044DD;
	}

	.dl {
		background-color: #fff0f0;
	}

	.sd {
		color: #DD4422;
	}

	.s2 {
		background-color: #fff0f0;
	}

	.se {
		color: #666666;
		font-weight: bold;
		background-color: #fff0f0;
	}

	.sh {
		background-color: #fff0f0;
	}

	.si {
		background-color: #eeeeee;
	}

	.sx {
		color: #DD2200;
		background-color: #fff0f0;
	}

	.sr {
		color: #000000;
		background-color: #fff0ff;
	}

	.s1 {
		background-color: #fff0f0;
	}

	.ss {
		color: #AA6600;
	}

	.bp {
		color: #007020;
	}

	.fm {
		color: #0066BB;
		font-weight: bold;
	}

	.vc {
		color: #336699;
	}

	.vg {
		color: #dd7700;
		font-weight: bold;
	}

	.vi {
		color: #3333BB;
	}

	.vm {
		color: #996633;
	}

	.il {
		color: #0000DD;
		font-weight: bold;
	}
}

@media print {
	#top-menu, #header, #main-menu, #sidebar, #footer, .contextual, .other-formats {
		display: none;
	}

	#main {
		background: #fff;
	}

	#content {
		width: 99%;
		margin: 0;
		padding: 0;
		border: 0;
		background: #fff;
		overflow: visible !important;
	}

	#wiki_add_attachment {
		display: none;
	}

	.hide-when-print {
		display: none !important;
	}

	.pagination {
		ul.pages, .per-page {
			display: none !important;
		}
	}

	.autoscroll {
		overflow-x: visible;
	}

	table.list {
		margin-top: 0.5em;

		th, td {
			border: 1px solid #aaa;
		}
	}
}

/* Accessibility specific styles */

.hidden-for-sighted {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

img {
	image-orientation: from-image;
}

.filecontent-container {
	position: relative;
	margin-bottom: 20px;
	min-height: 200px;

	> .filecontent {
		position: absolute;
		max-height: 100%;
		max-width: 100%;

		&.wiki {
			position: relative;
			padding: 1em;
			border: 1px solid #e4e4e4;
			border-radius: 3px;
		}
	}
}

/* Fixes for IE 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	select {
		&::-ms-expand {
			display: none;
		}

		&[multiple=multiple] {
			padding-right: 0;
		}
	}
}
